.App {
    padding: 0px 40px;
}

.frontpage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 100px;
}

button {
    cursor: pointer;
    border: none;
    font-size: 1.125rem;
    font-weight: 500;
}

button:active {
    transform: translateY(1px);
}

img {
    width: 100%;
}
